@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .theme-color {
        @apply h-6 w-6 cursor-pointer rounded-full;
    }

    .post-icon {
        @apply w-6 h-6 text-gray-700 opacity-80 active:scale-125 transition active:opacity-90 mx-1 active:ring-1 dark:text-white cursor-pointer active:ring-opacity-50 active:ring-indigo-200 rounded-full;
    }
    .sidebar-icon {
        @apply w-6 h-6 text-gray-500 transition duration-75 dark:text-white group-hover:text-gray-900 dark:group-hover:text-white ;
    }

    .notification-dot{
        @apply absolute right-0 bg-red-600 top-0 w-2 h-2 rounded-full animate-pulse;
    }

    .comment-bottom-text{
        @apply text-gray-400 transition text-[0.8rem] font-semibold cursor-pointer opacity-80 hover:opacity-100;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  body{
    scroll-behavior: smooth;
  }